/*Content Style Setting*/

:root {
	--content-max-width              : 65em;
	--content-theme-background       : #e3e3e3;
	--content-theme-text             : #e96900;
}

/*Sidebar Style Settings*/

:root {
	--sidebar-background             : #151d2a;
	--sidebar-nav-link-color         : #ffffff;
}

/*table style setting*/

:root {
	--table-head-background             : var(--mono-tint1);
	--table-row-even-background         : var(--mono-tint2);
	--table-row-odd-background          : var(--mono-tint3);
	--table-cell-border-color           : #8e8e8e;
	--table-cell-border-width           : 1px 1px;
	--table-head-border-width           : 1px 1px;
	--table-head-border-color           : #8e8e8e;
}

/*link style settings*/

:root {
	--link-color                        : #0000ff;
	--link-color--active                : #ff0000;
	--link-color--hover                 : #0000ff;
	--link-text-decoration              : none;
	--link-text-decoration--hover       : underline; /*鼠标经过显示下划线*/
	--link-text-decoration-color        : #ff0000;
	--link-text-decoration-color--hover : #ee9a00;
}


